.venv/*
*.pyc
*.zip
*.log
*.tar
*.safetensors
*.pdf
data/*
*.wav
.env
.gitignore
aihubshell
aihubshell_download.sh
README.md
*.part 
data_raw/
**/data_raw/
feats/*
**/feats/*
prosodynet_project/feats/
ckpt/*
.venv-orpheus/*
*.egg-info/

